.footer{
    color: #d9d9d9;
    background-color: #1C1C1C;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 90px;
    margin-top: 100px;
}
.footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}
.footer-content-left, .footer-content-right, .footer-content-center{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    color: white;
}
.footer-content-left ul,
.footer-content-right ul,
.footer-content-center ul {
  list-style: none;
  padding: 10;
  margin: 0;
}

.footer-content-left li,
.footer-content-right li,
.footer-content-center li {
  margin-bottom: 10px;
  cursor: pointer;
}

.footer-content-right h2, .footer-content-center h2{
    color: white;
}
.footer-social-icons img{
    width: 40px;
    margin-right: 15px;
    
}

.footer hr{
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background-color: white;
    border: none;
}

.footer-logo {
  width: 0px;
  height: auto;
}

@media (max-width: 768px) {
  .footer-logo {
    width: 1400px;
  }
}


.para1 {
  font-size: 12px;
  line-height: 1.6;
  color: white;
  max-width: 420px;
  margin-bottom: 20px;

}
.footer-copyright{
  font-size: 12px;
  color: white;
}
@media (max-width:750px) {
  .footer-content{
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  .footer-copyright{
    text-align: center;
  }
  
}

