.food-item{
  width: 100%;
  height: 50%;
  border-radius: 20px;
  box-shadow: 0 0 10px #00000015;
  padding: 15px;
  animation: fadeIn 0.5s ease;
  
}

/* IMPORTANT */
.food-item-img-container{
  position: relative;
  
}

.food-item-image{
  width: 100%;
  border-radius: 15px;
}

/* Add button */
.add{
  position: absolute;
  bottom: 12px;
  right: 12px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: transform 0.2s ease;
  
  
}

.add:hover{
  transform: scale(1.1);
}

/* Counter container */
.food-item-counter{
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px 5px;
  background: #f3f3f3;
  border-radius: 30px;
  animation: popIn 0.2s ease;
  
}

.food-item-counter img{
  width: 20px;
  height: 20px;
  cursor: pointer;
  padding: 1px;
}

.food-item-counter span{
  font-size: 16px;
  font-weight: 500;
}

/* Info section */
.food-item-name-rating{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.food-item-price{
  color: tomato;
}

.stars{
  width: 70px;
}

/* Animations */
@keyframes popIn{
  from{
    transform: scale(0.8);
    opacity: 0;
  }
  to{
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn{
  from{ opacity: 0 }
  to{ opacity: 1 }
}
